.custom-container {
    margin: 25px 25px;
}


h1 {
    color: #648A41;
    text-align: left;
    font-size: 45px;
    margin: 25px 50px;
    text-transform: unset;
}

h2 {
    text-align: left;
    font-size: 20px;
    margin: 25px 50px;
    text-transform: unset;
    line-height: 10px;
}

h3 {
    text-align: left;
    font-size: 20px;
    margin: 25px 50px;
    text-transform: unset;
    line-height: 10px;

}

h4 {
    text-align: left;
    font-size: 20px;
    margin: 25px 50px;
    text-transform: unset;
    line-height: 10px;
}

.custom-card-style {
    background-color: #006FAD;
}

.text-center {
    color: white
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-size: 17px;
    font-family: Helvetica;
}


/* search button */
form {
    float: right;
    margin: 100px;
    position: relative;
    top: -55px;
}

input {
    float: right;
}

button {
    float: right;
}

/* icons */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.s-m{
    position: absolute;
    margin: 100px 300px;
    line-height: 100px;
    transform: translate(-50%,-50%);
}
.s-m a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 24px;
}
.s-m a:hover{
    background:#648A41;
}
.s-m a i{
    transition: 0.4s all;
}
.s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);

}

/* footer */

h5{
    font-size: 25px;
    text-align: center;
    margin: 0px;
    line-height: 50px;
    color: #648A41;
}

/* Style the form element with a border around it */
form {
    border: 5px;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: -50px;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }