/* texts */

h1 {
    color: #648A41;
    text-align: left;
    font-size: 45px;
    margin: 25px 50px;
    text-transform: unset;
}

h2 {
    text-align: left;
    font-size: 20px;
    margin: 0px 50px;
    text-transform: unset;
}

/* icons */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.s-m{
    margin: 20px 0 20px 230px;
    line-height: 200px;
}
.s-m a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    margin: 0 6px ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 24px;
}
.s-m a:hover{
    background:#648A41;
}
.s-m a i{
    transition: 0.4s all;
}
.s-m a:hover > i{
    transform: scale(1.6);

}

/* footer */

h5{
    font-size: 25px;
    text-align: center;
    margin: 0px;
    line-height: 50px;
    color: #648A41;
}

/* Style the form element with a border around it */
form {
    border: 5px;
    margin: -100px 0px 0px 100px;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: -50px;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
